.todo-form {
  margin: 2rem;
  text-align: center;
}

.todo-form input {
  border: 0;
  outline: none;
  background: transparent;
  color: #e2e8f0;
  font-weight: bold;
  border-radius: 2px;
  text-transform: capitalize;
  border-bottom: 1px solid #e2e8f0;
  padding: 6px 10px;
  font-size: 18px;
  width: 20vw;
}

.todo-form input::placeholder {
  color: #64748b;
}

.todo-form button {
  background-color: #e2e8f0;
  color: #0f172a;
  padding: 10px 10px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  background: transparent;
  border: 1px solid #0ea5e9;
  color: #0ea5e9;
  transition: all ease-in-out 0.2s;
}

.todo-form button:hover {
  background: #0ea5e9;
  color: #e2e8f0;
}
